.productCard {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 5px;
}

.productImage {
  width: 90%;
  height: 170px;
  object-fit: cover;
  cursor: pointer;
}

.productInfo {
  padding: 10px;
}

.productTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.productBrand {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 5px 5px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px;
}

.btnGroup button {
  flex: 1;
  margin: 0 5px;
}
