.cardContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  // Adjust spacing based on screen size
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
  }
}
